@import '../../scss/mixins';
@import '../../scss/vars';

.friend-title{
  margin-bottom: 30px;
}
.friend-link{
  text-decoration: none;
  color: $primary-color;
}
.friend-list{
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .friend{
    display: flex;
    padding: 15px 30px;
    width: 100%;
    background: rgba(0, 0, 0, .04);
    border-radius: 5px;
    margin-bottom: 25px;
    a.send-message{
      background: $primary-color;
      color:$second-color;
      padding: 3px 8px;
      position: relative;
      font-family: $font;
      font-size: 16px;
      outline: none;
      border: none;
      border-radius: 5px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      &:before{
        content:'g';
        font-family: $icons;
        color:$second-color;
        margin-right: 5px;
      }
    }
    img{
      width: 100%;
      max-width: 60px;
      border-radius: 50%;
    }
    div{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    div.info{
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: calc(100% - 60px);
      h4{
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        margin-bottom: 7px;
      }
    }
  }
}