@font-face {
  font-family: 'Panton';
  src: url("/assets/scss/fonts/Panton-Thin.eot");
  src: url("/assets/scss/fonts/Panton-Thin.eot?#iefix") format("embedded-opentype"), url("/assets/scss/fonts/Panton-Thin.woff2") format("woff2"), url("/assets/scss/fonts/Panton-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url("/assets/scss/fonts/Panton-SemiBold.eot");
  src: url("/assets/scss/fonts/Panton-SemiBold.eot?#iefix") format("embedded-opentype"), url("/assets/scss/fonts/Panton-SemiBold.woff2") format("woff2"), url("/assets/scss/fonts/Panton-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url("/assets/scss/fonts/Panton-Light.eot");
  src: url("/assets/scss/fonts/Panton-Light.eot?#iefix") format("embedded-opentype"), url("/assets/scss/fonts/Panton-Light.woff2") format("woff2"), url("/assets/scss/fonts/Panton-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url("/assets/scss/fonts/Panton-Regular.eot");
  src: url("/assets/scss/fonts/Panton-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/scss/fonts/Panton-Regular.woff2") format("woff2"), url("/assets/scss/fonts/Panton-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url("/assets/scss/fonts/Panton-Bold.eot");
  src: url("/assets/scss/fonts/Panton-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/scss/fonts/Panton-Bold.woff2") format("woff2"), url("/assets/scss/fonts/Panton-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Panton IconsA';
  src: url("/assets/scss/fonts/PantonIcons-ARegular.eot");
  src: url("/assets/scss/fonts/PantonIcons-ARegular.eot?#iefix") format("embedded-opentype"), url("/assets/scss/fonts/PantonIcons-ARegular.woff2") format("woff2"), url("/assets/scss/fonts/PantonIcons-ARegular.woff") format("woff"), url("/assets/scss/fonts/PantonIcons-ARegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar-mobile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  position: relative;
}

.navbar-mobile:after {
  width: 100%;
  height: 1px;
  background: rgba(118, 117, 117, 0.25);
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 20;
}

.navbar-mobile .profile-hamburger {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.navbar-mobile .profile-hamburger:before {
  position: absolute;
  width: 38px;
  height: 38px;
  background: #1b1b1b;
  border-radius: 50%;
  top: 0;
  z-index: 10;
  -webkit-transition: 1s cubic-bezier(0.77, 0, 0.175, 1) 0.7s;
  transition: 1s cubic-bezier(0.77, 0, 0.175, 1) 0.7s;
  left: 0;
  content: '';
}

.navbar-mobile .profile-hamburger .bg {
  position: fixed;
  width: 2500px;
  height: 2500px;
  background: #1b1b1b;
  border-radius: 50%;
  top: -1211px;
  left: -1211px;
  z-index: 1;
  -webkit-transform: scale(0.0152);
          transform: scale(0.0152);
  -webkit-transition: 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  transition: 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

.navbar-mobile .profile-hamburger.opened:before {
  position: absolute;
  width: 38px;
  height: 38px;
  background: white;
  border-radius: 50%;
  top: 0;
  z-index: 10;
  -webkit-transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
  left: 0;
  content: '';
}

.navbar-mobile .profile-hamburger.opened .bg {
  -webkit-transform: scale(1);
          transform: scale(1);
  pointer-events: none;
  -webkit-transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
  overflow-y: hidden;
}

.navbar-mobile .logo-head {
  max-width: 117px;
  position: relative;
  z-index: 15;
  -webkit-transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
  margin-right: 15px;
}

.navbar-mobile .logo-head svg {
  width: 100%;
}

.navbar-mobile .logo-head svg path {
  fill: #1b1b1b;
  -webkit-transition: fill 1s cubic-bezier(0.77, 0, 0.175, 1) 0.7s;
  transition: fill 1s cubic-bezier(0.77, 0, 0.175, 1) 0.7s;
}

.navbar-mobile .logo-head.opened svg path {
  fill: white;
  -webkit-transition: fill 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: fill 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.navbar-mobile .items-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  list-style-type: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  z-index: 100;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 40px;
  pointer-events: none;
}

.navbar-mobile .items-menu .divisor {
  width: 80%;
  height: 1px;
  background: rgba(118, 117, 117, 0.25);
  margin: 10px auto;
}

.navbar-mobile .items-menu li {
  text-align: center;
  margin-bottom: 10px;
}

.navbar-mobile .items-menu li:first-child {
  margin-bottom: 20px;
}

.navbar-mobile .items-menu li img {
  width: 100%;
  max-width: 86px;
  border-radius: 50%;
}

.navbar-mobile .items-menu li a {
  padding: 15px 0;
  font-size: 1.5rem;
  font-weight: 100;
  display: block;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.navbar-mobile .items-menu.opened {
  pointer-events: all;
}
/*# sourceMappingURL=MenuComponent.css.map */